.offers-w__item {
    width: 180px;
    height: 236px;
}

.offers-slide__container .swiper-wrapper .swiper-slide  {
	width: 180px!important;
	padding-top: 5rem!important;
    padding-bottom: 5rem!important;
}

.offers-featured__container {
	margin-top: 2rem;
}

.catalogy-options {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.catalogy-item {
	width: 120px;
	text-align: center;
	border: 1px solid var(--color-corporative-4);
	cursor: pointer;
	background: var(--color-white);
	border-radius: 5px;
	padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.catalogy-item__title {
	font-size: 1.5rem;
	font-weight: 700;
    color: var(--color-corporative-4);
    margin-bottom: 0;
}

.catalogy-item:hover {
	background: var(--color-corporative-4);
}

.catalogy-item:hover .catalogy-item__title{
	color: var(--color-white);
}

.icon-filter:after {
	content: url("../../images/iwana-cash/filtrar.png");
	display: inline-block;
    margin-left: 0.5rem;
    vertical-align: text-top;
}

.icon-order:after {
	content: url("../../images/iwana-cash/ordenar.png");
	display: inline-block;
    margin-left: 0.5rem;
    vertical-align: text-top;
}

.catalogy-header {
	background: var(--color-corporative-3);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.catalogy-header__title {
	color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
	margin-bottom: 0;
}

.item-filter {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 44px;
    min-width: 86px;
}

.filter-checkbox {
	background: var(--color-white);
	border: 1px solid var(--color-corporative-alpha-3);
	border-radius: 2px;
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-top: 0;
	z-index: 100;
    margin-left: 1.5rem;
}

.item-filter .check-label {
	padding-left: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    height: 44px;
    border: 1px solid #E5F8FC;
    border-radius: 4px;
    background: var(--color-white);
    min-width: 81px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 1rem;
    margin-left: -2rem;
}

.item-filter .check-label label {
	margin-bottom: 0;
}

.filter-checkbox:checked {
	content: url("../../images/iwana-cash/check.png");
	box-shadow: 0px 3px 6px #00000021;
}

.filter-checkbox:checked + .check-label {
	background: #E5F8FC;
}

.catalogy-body {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 78vh;
    overflow: hidden;
}

.catalogy-body-order {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btn-catalogy {
	background: #00AADA;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 15px;
    height: 44px;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 700;
    width: 90%;
}

.catalogy-footer {
	background: #00BCE3;
    border-radius: 30px 30px 0px 0px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.btn-catalogy:hover {
	color: var(--color-gray-1);
	background: #F4FCFE;
}

.catalogy-dsk-item__title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-corporative-3);
    margin-bottom: 0;
}

.catalogy-dsk-item {
    width: 200px;
    padding: 0rem;
    border: 1px solid var(--color-corporative-3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--color-white);
}

.catalogy-dsk-item:hover {
    background: var(--color-corporative-3);
}

.catalogy-dsk-item:hover .catalogy-dsk-item__title {
    color: var(--color-white);
}

.catalogy-dsk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.catalogy-dsk__options-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.bg-white {
    background: var(--color-white);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.catalogy-dsk__options-item .item-filter .check-label {
    border: none;
    font-weight: 400;
    font-size: 1.5rem;
}

.row-dsk-catalogy {
    display: none;
}

.catalogy-options__li {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 1rem;
    cursor: pointer;
}

.catalogy__menu-options {
    background: var(--color-corporative-4);
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    z-index: 1000;
    display: none;
    margin-top: 1rem;
}

.catalogy-dsk-item:hover + .catalogy__menu-options {
    display: block;
}

@media only screen and (min-width: 768px) {
    .catalogy-options {
        display: none;
    }

    .row-dsk-catalogy {
        display: block;
    }
}

